*{
  box-sizing: border-box;
}

body{
  font-family: arial;
  margin: 0;
}

/* Header */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  text-align: left;
  background: #13293d;
  color: #fff;
}

h1{
  font-weight: bold;
  color: #fff;
  font-size: 35px;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #fff;
  padding: 5px;
}

span{
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

nav{
  display: flex;
  background-color: #13293d;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #fff;
}

nav a{
color: #fff;
padding: 14px 20px;
text-decoration:none;
text-align: center;
}

header nav a:hover{
  color: #7fffd4;
  text-decoration: underline;
}

h3,h4,h5{
  font-weight: bold;
  color: #13293d;
  font-size: 35px;
}

/* Body */

main{
  display: flex;
  flex-wrap: wrap;
}

header nav a:hover{
  color: #7fffd4;
  text-decoration: underline;
}

/* Footer */

footer{
  padding: 40px;
  text-align: left;
  background: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  main,
   nav {
     flex-direction: column;
   }
}


@media screen and (min-width: 800px) {
  .column1 {
    flex: 1
  }

  .column2 {
    flex: 2
  }
}

/* free desktop computer image https://unsplash.com/photos/dpbXgTh0Lac */

/* free password image  https://unsplash.com/photos/FnA5pAzqhMM */

/* free CSS Image https://unsplash.com/photos/MgtHZ4zlC1U */

/* free Code Quiz Image https://unsplash.com/photos/n1LIveUPls4 */

/* free Day Planner Image https://unsplash.com/photos/flRm0z3MEoA */

/* Weather Image https://unsplash.com/photos/ieWHXjjAEwY */



