*{
  box-sizing: border-box;
}

body{
  font-size: arial;
  margin: 0;
}

header{
  padding: 40px;
  text-align: left;
  background: #13293d;
  color: #fff;
}

nav{
  display: flex;
}

nav a{
  color: #fff;
padding: 14px 20px;
text-decoration:none;
text-align: center;
}

main{
  display: flex;
  flex-wrap: wrap;
}
/* flex in aside section is the size of left hand column */
aside{
  flex: .4;
  background-color: #fff;
  color: #13293d;
  padding: 80px;
  text-align: right;
}

footer{
  padding: 40px;
  text-align: left;
  background: #13293d;
  color: #fff;
}
/* padding in projects class gives this a border between header */
.projects{
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* border, padding and flex give this a border between cards */
.card{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}
/* padding in header makes the space up top smaller */
.card header{
  padding: 20px;
}

.card p{
  text-align: left;
}

.card img{
  width: 100%;
}

/* 
What does the flex-direction property define?
It defines in which direction the container wants to stack the flex items
What is it doing here? 
We are telling the main body and navbar to stack vertically in a column
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

/* :root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --aquamarine: #7fffd4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d9dcd6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 .page-title{
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color:#d9dcd6
}


a {
  color: #ffffff;
  text-decoration: none;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
  float: right;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover{
  color: #7fffd4;
  text-decoration: underline;
}



#top-image{
  position: relative;
  text-align: center;
  color: white;
}

figure #top-image{
  width: 100%;
  max-height: 20rem;
  display: flex;
  color: white;
}

#subtitle{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 20px;
  right: 16px;
  font-size: larger;
  padding: 1%;
  background-color: #2a607c;
}



main {
  width: 96%;
  margin: 2rem auto;
  
}

.section-header{
  float: left;
}

.section-content{
  padding-left: 3rem;
  border-left: 0.5rem;
}

#chris-photo{
  max-width: 40%;
}

.content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.sub-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.image{
  width: 100%;
}

.column-1
{flex: 1 1 10%;
margin-bottom: 20px;
}

.column-2
{flex: 1 1 90%;
margin-bottom: 20px;
}

.first-project{
flex: 1 1 100%;
background-color: white;
margin-bottom: 2%;
margin-right: 4%;
}

.second-project{
flex: 1 1 46%;
background-color: black;
margin-bottom: 2%;
margin-right: 4%;
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {} */



/* free surf image https://unsplash.com/photos/jzPxXNZfhrE */

/* free desktop computer image https://unsplash.com/photos/dpbXgTh0Lac */

/* free password image  https://unsplash.com/photos/FnA5pAzqhMM */

/* free CSS Image https://unsplash.com/photos/MgtHZ4zlC1U */

/* free Code Quiz Image https://unsplash.com/photos/n1LIveUPls4 */

/* free Day Planner Image https://unsplash.com/photos/flRm0z3MEoA */

/* Weather Image https://unsplash.com/photos/ieWHXjjAEwY */
